# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: true
cache: packages


# https://github.com/ropensci/rgbif/blob/master/.travis.yml#L9
dist: trusty

before_install:
  - sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable --yes
  - sudo apt-get --yes --force-yes update -qq
  - sudo apt-get install -y  libproj-dev  libgdal-dev

after_success:
  - Rscript -e 'covr::codecov()'
  
